* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    align-items: center;
}

a.btn-primary {
    width: 160px;
    text-align: center;
    padding: 15px 30px;
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: salmon;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-block;
}

.special {
    padding-top: 20px;
}

hr {
    margin: 20px;
}

/* Main Header Styles */
header#main-header {
    background-image: url(images/donation3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.header-area {
    width: 550px;
    margin: 0 auto;
}

.header-items {
    text-align: center;
    display: flex;
    height: 500px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

.head-title h1 {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
}

.head-description p {
    padding: 11px;
    color: white;
}

/* Donate area style */
.donate-items {
    text-align: center;
    display: flex;
    width: 672px;
    justify-content: center;
    margin: auto;
    height: 450px;
    flex-direction: column;
}

.section-title {
    padding: 20px 0px;
}

.donate-limit {
    display: flex;
    justify-content: space-around;
}

.amount-box {
    padding: 20px;
    background: #ddd;
    width: 90px;
    border-radius: 10px;
}

div#special-box {
    background-color: pink;
    color: red;
}

/* Planning Area Style */
.plan-area {
    text-align: center;
    padding: 90px 0;
}

.donate-info {
    width: 680px;
    margin: 0 auto;
}

h1.plan-title {
    padding: 10px;
    font-size: 40px;
}

.plan-box {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    padding: 30px 0;
}

.family-plan {
    padding: 20px;
    width: 300px;
    background-color: lavender;
}

.food-plan {
    width: 300px;
    padding: 20px;
    background-color: lightpink;
}

.child-plan {
    padding: 20px;
    width: 300px;
    background-color: limegreen;
}

.family-plan img {
    width: 60px;
    height: 50px;
}

.food-plan img {
    width: 60px;
    height: 50px;
}

.child-plan img {
    width: 60px;
    height: 50px;
}

/* contribute section style */
.con-items {

    height: 450px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contribute-image {
    width: 45%;
}

.contribute-info {
    width: 45%;
}

.contribute-info h1 {
    font-size: 3em;
}

.contribute-info p {
    font-size: 20px;
    padding: 15px 0;
}

/* servive section */
.serve-items {
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: space-between;
}

.serve-info {
    width: 45%;
}

.serve-img {
    width: 45%;
}

.serve-info h1 {
    font-size: 45px;
}

.serve-info p {
    font-size: 20px;
    padding-bottom: 10px;
}

/* Subscribe section */
.note-us {
    width: 550px;
    height: 550px;
    margin: 0 auto;
    text-align: center;
}

.note-us h1 {
    font-size: 40px;
    padding: 20px 0;
}

.note-us p {
    padding: 20px 0;
}

.sub-btn {
    padding: 50px;
    background-color: #ffd5e3;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
}

input.sub-fild {
    padding: 16px;
    border: navajowhite;
    border-radius: 6px;
}

input[type="button"] {
    padding: 11px;
    background-color: crimson;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
}

/* footer items */
footer#main-footer {
    padding: 50px;
    background-color: #00008bd9;
    color: #fff;
    text-align: center;
}